<div>
  @if (isStandalone) {
    <stars-standalone-menu></stars-standalone-menu>
  }
  @if (unitService.mainAudio()?.audioSource) {
    <stars-main-audio [audioSource]="unitService.mainAudio().audioSource" playerId="mainAudio"></stars-main-audio>
  }
  @if (unitService.continueButton() === "ALWAYS" ||
    unitService.continueButton() === "ON_FULL_CREDIT" && responsesService.maxScoreReached() ||
    unitService.continueButton() === "ON_INTERACTION" && unitService.hasInteraction()) {
    <stars-continue-button
      (navigate)="veronaPostService.sendVopUnitNavigationRequestedNotification('next')"></stars-continue-button>
  }

  @if (unitService.interaction() === 'BUTTONS') {
    <stars-interaction-buttons class="interaction"
      [style.background-color]="unitService.backgroundColor()"
      [parameters]="paramsAsInteractionButtonParams"
      (responses)="responsesService.newResponses($event)"></stars-interaction-buttons>
  } @else if (unitService.interaction() === 'DROP') {
    <stars-interaction-drop class="interaction"
      [style.background-color]="unitService.backgroundColor()"
      [parameters]="paramsAsDropParams"
      (responses)="responsesService.newResponses($event)"></stars-interaction-drop>
  }
<!--  @else if (unitService.interaction() === 'PHONETICS') {-->
<!--    <stars-interaction-phonetics class="interaction"-->
<!--       [style.background-color]="unitService.backgroundColor()"-->
<!--       [parameters]="paramsAsPhoneticsParams"-->
<!--       (responses)="responsesService.newResponses($event)"></stars-interaction-phonetics>-->
<!--  }-->
  @else if (unitService.interaction() === 'WRITE') {
    <stars-interaction-write class="interaction"
      [style.background-color]="unitService.backgroundColor()"
      [parameters]="paramsAsWriteParams"
      (responses)="responsesService.newResponses($event)"></stars-interaction-write>
  }
  @else {
    <div>Unbekannter Interaktionstyp "{{unitService.interaction}}"</div>
  }
</div>
