<div>
  @if (isStandalone) {
    <stars-standalone-menu></stars-standalone-menu>
  }
  @if (unitService.mainAudio()?.audioSource) {
    <stars-main-audio [audioSource]="unitService.mainAudio().audioSource" playerId="mainAudio"></stars-main-audio>
  }
  @if (unitService.continueButton() === "ALWAYS" || unitService.continueButton() === "ON_FULL_CREDIT" && responsesService.maxScoreReached()) {
    <stars-continue-button
      (navigate)="veronaPostService.sendVopUnitNavigationRequestedNotification('next')"></stars-continue-button>
  }

  @if (unitService.interaction() === 'BUTTONS') {
    <stars-interaction-buttons class="interaction"
      [style.background-color]="unitService.backgroundColor()"
      [parameters]="unitService.parameters()"
      (responses)="responsesService.newResponses($event, isStandalone ? null : veronaPostService)"></stars-interaction-buttons>
  } @else if (unitService.interaction() === 'SYLLABIFY') {
    <stars-interaction-syllabify class="interaction"
      [style.background-color]="unitService.backgroundColor()"
      [parameters]="unitService.parameters()"
      (responses)="responsesService.newResponses($event, isStandalone ? null : veronaPostService)"></stars-interaction-syllabify>
  } @else if (unitService.interaction() === 'WORD_SELECT') {
    <stars-interaction-word-select class="interaction"
      [style.background-color]="unitService.backgroundColor()"
      [parameters]="unitService.parameters()"
      (responses)="responsesService.newResponses($event, isStandalone ? null : veronaPostService)"></stars-interaction-word-select>
  } @else {
    <div>Unbekannter Interaktionstyp "{{unitService.interaction}}"</div>
  }
</div>
