@use 'colors';
@use 'variables';

.buttons-container {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner-button-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  gap: 10px;
}

.stimulus-wrapper {
  width: 100%;
  max-width: 100%;
  flex: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  box-sizing: border-box;
  padding: 10px;
}

.image-wrapper {
  width: 100%;
  max-width: 100%;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  img {
    object-fit: contain;
    max-width: 100%;
    max-height: 100%;
    padding: 0;
    width: auto;
    height: auto;
  }
}

.buttons-wrapper {
  box-sizing: border-box;
  padding: 5px 0 24px 5px;
  flex-grow: 0;
  flex-shrink: 0;

  @include variables.flex-center;
  flex-direction: column;
  gap: variables.$small-gap-margin;

  .row {
    @include variables.flex-center;
    flex-direction: row;
    width: 100%;
    column-gap: variables.$small-gap-margin; /* default spacing between buttons */

    &.two-buttons {
      column-gap: variables.$gap-between-two-buttons-in-a-row; /* 106px special case for 1 Row 2 buttons */
    }

    &.two-extra-large-buttons {
      column-gap: variables.$gap-between-two-extra-large-buttons-in-a-row; /* 50px special case for 1 Row 2 buttons that has buttonType: EXTRA_LARGE_SQUARE */
    }

    &.long-rectangle-buttons {
      flex-direction: column;
      row-gap: variables.$gap-between-two-extra-large-buttons-in-a-row;
    }
  }

  &.flex-row {
    flex-direction: row;
    column-gap: variables.$small-gap-margin;
    padding-left: variables.$big-gap-margin;

    .stimulus-wrapper {
      width: variables.$square-image-width;
      height: variables.$square-image-height;
      margin: 0;

      img {
        @include variables.responsive-image;
      }
    }
  }
}

.text-wrapper {
  max-width: 500px;
  white-space: normal;
  overflow-wrap: anywhere;
  word-break: break-word;

  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 0 auto;

  div {
    display: block;
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }
}
