@use 'colors';
@use 'variables';

.buttons-container {
  @include variables.flex-center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  min-height: 0;

  &.use-full-area:not(.flex-row) {
    display: grid;
    align-content: start;
    justify-items: center;

    .stimulus-wrapper.use-full-area {
      margin-bottom: unset;

      img {
        height: auto;
        width: auto;
        object-fit: contain;
        padding: 0;
        display: block;
        box-sizing: border-box;
      }
    }
  }

  .stimulus-wrapper {
    @include variables.flex-center;
    flex: 0 0 auto;
    margin-bottom: variables.$big-gap-margin;

    img {
      @include variables.responsive-image;
    }
  }

  .stimulus-wrapper.top-position {
    width: 100%;
    overflow: hidden;

    img {
      width: 100%;
      height: auto;
      max-height: 100%;
      object-fit: contain;
      padding: 0;
      display: block;
    }
  }

  .text-wrapper {
    width: 200px;
    white-space: normal;
    overflow-wrap: anywhere;
    word-break: break-word;

    display: flex;
    justify-content: center;
    align-items: center;

    span {
      display: block;
      width: 100%;
      margin: 0 auto;
      text-align: center;
    }
  }

  .button-row {
    @include variables.flex-center;
    flex-direction: row;
    width: 100%;
    column-gap: variables.$small-gap-margin; /* default spacing between buttons */

    &.two-buttons {
      column-gap: variables.$gap-between-two-buttons-in-a-row; /* 106px special case for 1 Row 2 buttons */
    }

    &.two-extra-large-buttons {
      column-gap: variables.$gap-between-two-extra-large-buttons-in-a-row; /* 50px special case for 1 Row 2 buttons that has buttonType: EXTRA_LARGE_SQUARE */
    }

    &.long-rectangle-buttons {
      flex-direction: column;
      row-gap: variables.$gap-between-two-extra-large-buttons-in-a-row;
    }
    &.tall-rectangle-buttons {
      column-gap: 0;
    }
  }

  .row-buttons-wrapper {
    @include variables.flex-center;
    flex-direction: row;
    flex: 0 0 auto;
    gap: variables.$small-gap-margin;
  }

  .column-buttons-wrapper {
    @include variables.flex-center;
    flex-direction: column;
    row-gap: variables.$small-gap-margin; /* default spacing between buttons */
  }

// Flex row layout for image and buttons side by side
  &.flex-row {
    flex-direction: row;
    column-gap: variables.$small-gap-margin;
    padding-left: variables.$big-gap-margin;

    .stimulus-wrapper {
      width: variables.$square-image-width;
      height: variables.$square-image-height;
      margin: 0;

      img {
        @include variables.responsive-image;
      }
    }

    &:has(.row-buttons-wrapper.with-tall-rectangle-buttons) {
      .stimulus-wrapper.left-position {
        flex: 0 0 35%;
        max-width: 35%;
        width: 35%;
        height: auto;

        img {
          /* Keep aspect ratio and avoid cropping for portrait images */
          width: 100%;
          height: auto;
          max-height: 100%;
          object-fit: contain;
          display: block;
        }
      }

      .row-buttons-wrapper.with-tall-rectangle-buttons {
        flex: 1 1 60%;
        max-width: 60%;
        width: 60%;
        /* override flex-center from mixin: align content to the start */
        justify-content: flex-start;
        align-items: flex-start;

        /* Ensure rows themselves don't center their children */
        .button-row {
          justify-content: flex-start;
        }
      }
    }
  }
}
