@use 'colors';
@use 'variables';

.buttons-container {
  @include variables.flex-center;
  flex-direction: column;
  width: 80%;
  height: 80%;

  .stimulus-wrapper {
    @include variables.flex-center;
    margin-bottom: variables.$big-gap-margin;
    max-height: variables.$max-image-height;
    width: variables.$max-image-width;
    max-width: variables.$max-image-width;

    img {
      width: 100%;
      height: 100%;
    }
  }

  /* Ensure square images stay narrow */
  .stimulus-wrapper.square {
    max-width: variables.$square-image-width;
    width: auto;
  }

  .stimulus-wrapper.use-full-area {
    max-height: variables.$max-full-area-height;
    max-width: variables.$max-image-width;
  }

  .top-position {
    max-height: variables.$max-image-height;
    width: variables.$max-image-width;
    max-width: variables.$max-image-width;
  }

  .text-wrapper {
    width: 100%;
    height: 10%;
    display: flex;
    margin-top: variables.$small-gap-margin;

    span {
      margin: 0 auto;
    }
  }

  .buttons-wrapper {
    @include variables.flex-center;
    flex-direction: column;
    gap: variables.$small-gap-margin;

    .row {
      @include variables.flex-center;
      flex-direction: row;
      width: 100%;
      column-gap: variables.$small-gap-margin; /* default spacing between buttons */

      &.two-buttons {
        column-gap: variables.$gap-between-two-buttons-in-a-row; /* 106px special case for 1 Row 2 buttons */
      }

      &.two-extra-large-buttons {
        column-gap: variables.$gap-between-two-extra-large-buttons-in-a-row; /* 50px special case for 1 Row 2 buttons that has buttonType: EXTRA_LARGE_SQUARE */
      }

      &.long-rectangle-buttons {
        flex-direction: column;
        row-gap: variables.$gap-between-two-extra-large-buttons-in-a-row;
      }
    }
  }


  &.flex-row {
    flex-direction: row;

    .stimulus-wrapper {
      width: variables.$square-image-width;
      height: variables.$square-image-height;
      margin: 0;

      img {
        @include variables.responsive-image;
      }
    }

    /* Ensure square images stay narrow */
    .stimulus-wrapper.square {
      max-width: variables.$square-image-width;
      width: auto;
    }

    .buttons-wrapper {
      flex: 1 1 50%;
      margin-top: variables.$small-gap-margin;
    }
  }
}
