@use 'colors';
@use 'variables';

.buttons-container {
  @include variables.flex-center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  min-height: 0;

  &.use-full-area:not(.flex-row) {
    display: grid;
    grid-template-rows: auto auto auto;
    align-content: start;
    justify-items: center;
    min-height: 0;
    min-width: 0;

    .stimulus-wrapper.use-full-area {
      grid-row: 1;
      align-self: stretch;
      justify-self: stretch;
      width: 100%;
      height: auto;
      min-height: 0;
      min-width: 0;
      margin-bottom: 0;
      overflow: hidden;
      display: flex;
      align-items: flex-start;
      justify-content: center;

      img {
        height: auto;
        max-height: 100%;
        max-width: 100%;
        width: auto;
        object-fit: contain;
        padding: 0;
        display: block;
        box-sizing: border-box;
      }
    }

    .buttons-wrapper {
      grid-row: 2;
      align-self: start;
      justify-self: center;
      margin-top: 0;
    }

    .text-wrapper {
      grid-row: 3;
      align-self: start;
      justify-self: stretch;
      min-height: 0;
    }
  }

  .stimulus-wrapper {
    @include variables.flex-center;
    flex: 0 0 auto;
    margin-bottom: variables.$big-gap-margin;

    img {
      @include variables.responsive-image;
    }
  }

  .stimulus-wrapper.top-position {
    width: 100%;
    overflow: hidden;

    img {
      width: 100%;
      height: auto;
      max-height: 100%;
      object-fit: contain;
      padding: 0;
      display: block;
    }
  }

  .stimulus-wrapper.use-full-area.top-position {
    height: auto;
    min-height: 0;
  }

  .text-wrapper {
    width: 100%;
    height: 10%;
    display: flex;
    margin-top: variables.$small-gap-margin;

    span {
      margin: 0 auto;
    }
  }

  .buttons-wrapper {
    @include variables.flex-center;
    flex-direction: column;
    flex: 0 0 auto;
    gap: variables.$small-gap-margin;
    padding-left: variables.$big-gap-margin;
    padding-right: variables.$big-gap-margin;

    .row {
      @include variables.flex-center;
      flex-direction: row;
      width: 100%;
      column-gap: variables.$small-gap-margin; /* default spacing between buttons */

      &.two-buttons {
        column-gap: variables.$gap-between-two-buttons-in-a-row; /* 106px special case for 1 Row 2 buttons */
      }

      &.two-extra-large-buttons {
        column-gap: variables.$gap-between-two-extra-large-buttons-in-a-row; /* 50px special case for 1 Row 2 buttons that has buttonType: EXTRA_LARGE_SQUARE */
      }

      &.long-rectangle-buttons {
        flex-direction: column;
        row-gap: variables.$gap-between-two-extra-large-buttons-in-a-row;
      }
    }
  }


  &.flex-row {
    flex-direction: row;
    padding-left: variables.$big-gap-margin;

    .stimulus-wrapper {
      width: variables.$square-image-width;
      height: variables.$square-image-height;
      margin: 0;

      img {
        @include variables.responsive-image;
      }
    }

    .buttons-wrapper {
      width: 50%;
      margin-top: variables.$small-gap-margin;
    }
  }
}
