@use 'colors';
@use 'variables';

.buttons-container {
  @include variables.flex-center;
  flex-direction: column;
  width: 80%;
  height: 80%;

  .stimulus-wrapper {
    @include variables.flex-center;
    @include variables.image-wrapper;
    margin-bottom: variables.$big-gap-margin;

    img {
      @include variables.responsive-image;
    }
  }

  .left-position {
    justify-content: end;
  }

  .top-position {
    width: variables.$image-wrapper-width;
    height: 250px;
    flex: 0 0 auto;
    object-fit: contain;
  }

  .text-wrapper {
    width: 100%;
    height: 10%;
    display: flex;
    margin-top: variables.$small-gap-margin;

    span {
      margin: 0 auto;
    }
  }

  .buttons-wrapper {
    @include variables.flex-center;
    flex-direction: column;
    gap: variables.$small-gap-margin;

    .row {
      @include variables.flex-center;
      flex-direction: row;
      width: 100%;
      column-gap: variables.$small-gap-margin; /* default spacing between buttons */

      &.two-buttons-gap {
        column-gap: variables.$gap-between-two-buttons; /* 106px special case */
      }
    }
  }


  &.flex-row {
    flex-direction: row;
    align-items: center;
    gap: variables.$big-gap-margin;

    .stimulus-wrapper {
      flex: 0 0 300px;
      width: 300px;
      height: 300px;
      margin: 0;

      img {
        @include variables.responsive-image;
      }
    }

    .buttons-wrapper {
      flex: 1 1 50%; /* take remaining space */
      margin-top: variables.$small-gap-margin;
    }
  }
}
