@use 'colors';
@use 'variables';

.buttons-container {
  @include variables.flex-center;
  flex-direction: column;
  width: 80%;
  height: 80%;

  .stimulus-wrapper {
    @include variables.flex-center;
    box-sizing: border-box;
    margin-bottom: variables.$big-gap-margin;
    height: 250px;
    max-height: 250px;
    width: 950px;
    max-width: 950px;

    img {
      @include variables.responsive-image;
    }

    &.needs-fill:not(.is-square) img {
      /* When image cannot fill 950x250 with contain (ar < 3.8), use cover to fill the space */
      object-fit: cover;
      object-position: center;
    }
  }

  .left-position {
    justify-content: end;
  }

  .stimulus-wrapper.is-square {
    width: auto;
    max-width: 300px;
  }
  .text-wrapper {
    width: 100%;
    height: 10%;
    display: flex;
    margin-top: variables.$small-gap-margin;

    span {
      margin: 0 auto;
    }
  }

  .buttons-wrapper {
    @include variables.flex-center;
    flex-direction: column;
    gap: variables.$small-gap-margin;

    .row {
      @include variables.flex-center;
      flex-direction: row;
      width: 100%;
      column-gap: variables.$small-gap-margin; /* default spacing between buttons */

      &.two-buttons-gap {
        column-gap: variables.$gap-between-two-buttons; /* 106px special case */
      }
    }
  }


  &.flex-row {
    flex-direction: row;
    align-items: center;
    gap: variables.$big-gap-margin;

    .stimulus-wrapper {
      flex: 0 0 auto;
      height: 250px;
      max-height: 250px;
      max-width: 950px;
      margin: 0;

      img {
        @include variables.responsive-image;
      }

      &.needs-fill:not(.is-square) img {
        object-fit: cover;
        object-position: center;
      }
    }

    /* Ensure square images stay narrow in flex-row as well */
    .stimulus-wrapper.is-square {
      max-width: 300px;
      width: auto;
    }

    .buttons-wrapper {
      flex: 1 1 50%; /* take remaining space */
      margin-top: variables.$small-gap-margin;
    }
  }
}
