@use 'colors';
@use 'variables';

.buttons-container {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  &.layout--top-center {
    flex-direction: column;
  }

  &.layout--left-center,
  &.layout--left-center-50,
  &.layout--left-bottom {
    flex-direction: row;
  }

  &.layout--left-center-50 {
    column-gap: 24px;
  }

  &.has-image:not(.layout--left-center-50) {
    overflow: hidden;
  }

  &.layout--left-bottom {
    padding: 0 24px;
    align-items: baseline;
  }
}

.stimulus-wrapper {
  width: 100%;
  max-width: 100%;
  height: 100%;
  flex: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
  box-sizing: border-box;
}

.buttons-container.layout--left-center-50 .stimulus-wrapper,
.buttons-container.layout--left-bottom .stimulus-wrapper {
  flex: 0 0 50%;
}

.buttons-container.layout--left-bottom .stimulus-wrapper {
  align-items: flex-end;
}
.image-wrapper {
  width: 100%;
  max-width: 100%;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  img {
    object-fit: contain;
    max-width: 100%;
    max-height: 100%;
    padding: 0;
    width: auto;
    height: auto;
  }
}

.buttons-wrapper {
  box-sizing: border-box;
  flex-grow: 0;
  flex-shrink: 0;

  @include variables.flex-center;
  flex-direction: column;
  gap: variables.$small-gap-margin;

  padding: 5px 0 24px 5px;

  &:has(.row.tall-rectangle-buttons) {
    padding: 10px;
  }

  .buttons-container.layout--left-center-50 & {
    flex: 0 0 50%;
    align-items: flex-start;
    padding-right: 0;
  }

  .buttons-container.layout--left-center.has-image & {
    padding-right: 72px;
  }
  .buttons-container.layout--left-center:not(.has-image) & {
    padding-right: 5px;
  }

  .row {
    @include variables.flex-center;
    flex-direction: row;
    width: 100%;
    column-gap: variables.$small-gap-margin; /* default spacing between buttons */

    &.two-buttons {
      column-gap: variables.$gap-between-two-buttons-in-a-row; /* 106px special case for 1 Row 2 buttons */
    }

    &.two-extra-large-buttons {
      column-gap: variables.$gap-between-two-extra-large-buttons-in-a-row; /* 50px special case for 1 Row 2 buttons that has buttonType: EXTRA_LARGE_SQUARE */
    }

    &.long-rectangle-buttons {
      flex-direction: column;
      row-gap: variables.$gap-between-two-extra-large-buttons-in-a-row;
    }

    &.tall-rectangle-buttons {
      column-gap: 0;
    }
  }

  .buttons-container.layout--left-center-50 & .row {
    width: auto;
  }

  &.flex-row {
    flex-direction: row;
    column-gap: variables.$small-gap-margin;
    padding-left: variables.$big-gap-margin;

    .stimulus-wrapper {
      width: variables.$square-image-width;
      height: variables.$square-image-height;
      margin: 0;

      img {
        @include variables.responsive-image;
      }
    }
  }
}

.text-wrapper {
  max-width: 500px;
  white-space: normal;
  overflow-wrap: anywhere;
  word-break: break-word;

  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 0 auto;

  div {
    display: block;
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }
}
