<div [class]="params" role="group" [attr.aria-multiselectable]="parameters().multiSelect">
  @for (option of parameters().options; track option; let i = $index) {
    <div
      class="button-option"
      [class.selected]="isSelected(i)"
      [attr.aria-selected]="isSelected(i)"
      role="option"
      (click)="onButtonClick(i)">
      <button
        type="button"
        class="button-wrapper"
        [attr.aria-label]="option.text">
        @if (option.imageSource) {
          <img [src]="option.imageSource" [alt]="option.text  ">
        } @else {
          <span class="text">{{option.text}}</span>
        }
      </button>
    </div>
  }
</div>
