@use 'colors';

$image-size: 170px;
$small-gap-margin: 24px;
$big-gap-margin: 32px;
$img-border: 6px;
$border-radius: 20px;
$icons-border-radius: 15px;
$font-family: 'IQBprimar', 'Quicksand', sans-serif;
$font-weight-600: 600;
$big-text-font-size: 112px;
$small-text-font-size: 32px;
$ribbon-bar-height: 30px;
$audio-waves-animation-height: 100px;
$gap-between-two-buttons-in-a-row: 106px;
$gap-between-two-extra-large-buttons-in-a-row: 50px;
$square-image-width: 300px;
$square-image-height: 300px;

/* Mixins */

@mixin responsive-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  padding: 10px;
}

@mixin text {
  font-family: $font-family;
  font-weight: $font-weight-600;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin default-box-shadow {
  box-shadow: 4px 4px 0 3.2px rgba(0, 0, 0, 0.2);
}

@mixin rounded-box-shadow {
  box-shadow: 5px 5px 0 4px rgba(0, 0, 0, 0.2);
}

@mixin tens-and-ones-box-shadow {
  box-shadow: 4px 4px 0 3.2px rgba(0, 0, 0, 0.2);
}

@mixin extra-large-button-size {
  width: 353px;
  height: 353px;
}

@mixin big-button-size {
  width: 225px;
  height: 225px;
}

@mixin medium-button-size {
  width: 200px;
  height: 200px;
}

@mixin small-button-size {
  width: 170px;
  height: 170px;
}

@mixin long-rectangle-button-size {
  width: 720px;
  height: 175px;
}

@mixin tall-rectangle-button-size {
  width: 80px;
  height: 190px;
}

@mixin word-button-size {
  height: 120px;
  min-width: 320px;
}

@mixin accept-icon-size {
  width: 76px;
  height: 62px;
}

@mixin reject-icon-size {
  width: 68px;
  height: 68px;
}

@mixin rounded-styles {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 0 20px 20px 0;
  border: none;
  background-color: colors.$white;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

@mixin viewportRatio($x, $y) {
  width: 80vw;
  height: $y * 80vw / $x;
  max-width: $x / $y * 80vh;
  max-height: 80vh;
}
