<div class="button-option input-wrapper"
     [class]="(type() || '').toLowerCase() + '-type'"
     [class.text-button-mode]="textMode()"
     [class.has-smiley-icon]="icon()?.startsWith('SMILEY')"
     data-cy="input-wrapper">
  <input
    [type]="inputType()"
    [name]="id()"
    [id]="id() + '_' + value()"
    [value]="value()"
    (click)="onClick()"
    [checked]="selected()"
    [attr.data-selected]="selected()"
  />
  <label [for]="id() + '_' + value()">
    @if (type() === 'CIRCLE') {
      @if (icon()) {
        <stars-standard-icon [icon]="icon()" [selected]="!!selected()"></stars-standard-icon>
      }
    } @else {
      @if (image()) {
        <img [src]="image()" [alt]="" data-cy="button-with-imageSource">
      } @else if (icon()) {
        <stars-standard-icon [icon]="icon()" [selected]="!!selected()"></stars-standard-icon>
      } @else if (text()) {
        <span data-cy="button-with-text">
          {{ text() }}
        </span>
      }
    }
  </label>
</div>
