@use 'colors';
@use 'variables';

.button-option {
  position: relative;
  cursor: pointer;

  input, label {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background-color: colors.$white;
    border: 8px solid colors.$white;
    border-radius: variables.$border-radius;
    @include variables.default-box-shadow;
    @include variables.flex-center;
  }

  input {
    opacity: 0;
    z-index: 10;
  }

  label {
    .long-rectangle-img {
      width: 100%;
      height: 100%;
      object-fit: fill;
    }
  }

  &:focus,
  &:active {
    outline: none;
  }

  input:checked + label {
    border-radius: variables.$border-radius;
    border-color: colors.$highlight;
    transition: all 0.2s ease;
    box-shadow: none;
  }

  &.circle-type {
    width: 100px;
    height: 100px;
    margin: 0 variables.$small-gap-margin 0 0;
    cursor: pointer;
    border-radius: 50%;
    -webkit-tap-highlight-color: transparent;
    position: relative;

    @include variables.rounded-box-shadow;

    input {
      width: 100%;
      height: 100%;
      border-radius: 50%;
      background-color: colors.$white;
      border: none;
      position: absolute;
      top: 0;
      left: 0;
      margin: 0;
      padding: 0;
    }

    label {
      display: block;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      cursor: pointer;
      @include variables.flex-center;
    }

    input:checked + label {
      width: 100%;
      height: 100%;
      border-radius: 50%;
      background-color: colors.$highlight;
      box-shadow: none;
    }

    &:has(input:checked) {
      box-shadow: none;
    }

    span {
      display: none;
    }
  }

  &.has-smiley-icon {
    @include variables.smiley-box-shadow;

    input:checked + label {
      box-shadow: none;
    }

    &:has(input:checked) {
      box-shadow: none;
    }
  }

  &.text-button-mode {
    input {
      border: none;

      &:checked + label {
        background-color: colors.$highlight;
        color: colors.$white;
      }
    }
  }

  // Content styles
  img {
    @include variables.responsive-image;
  }

  span {
    font-size: variables.$big-text-font-size;
  }
}

.button-option,
.button-option input,
.button-option label {
  box-sizing: border-box;
}

.button-option.circle-type {
  label {
    /* create an inner inset so the icon stays visually centered inside the circular border */
    padding: variables.$small-gap-margin;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  /* SVG and IMG inside the circle should be block-level and fit the padded area */
  svg,
  img {
    display: block;
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
  }
}

// Type modifiers
.button-option {

  input {
    width: 100%;
    height: 100%;
    box-sizing: border-box;

    // Remove default browser styling
    border: none;
    padding: 0;
    margin: 0;
    background: transparent;
    outline: none;
  }

  &.extra_large-type {
    @include variables.extra-large-button-size;
  }

  &.big_square-type {
    @include variables.big-button-size;
  }

  &.medium_square-type {
    @include variables.medium-button-size;
  }

  &.small_square-type {
    @include variables.small-button-size;
  }

  &.long_rectangle-type {
    @include variables.long-rectangle-button-size;
  }

  &.text-type {
    @include variables.word-button-size;
    border: none;

    &.selected {
      color: white;
      border: none;
      @include variables.default-box-shadow;
    }

    span {
      font-size: variables.$small-text-font-size;
    }
  }
}
