<button
  type="button"
  class="button-option"
  [class.selected]="selected()"
  [class]="size().toLowerCase()+'-size'"
  [attr.aria-selected]="selected()"
  role="option"
  (click)="onClick()"
  [attr.aria-label]="isMultiselect() ? 'Multiselect button group option ' + text(): 'Single select button group option ' + text()">
  @if (image()) {
    <img [src]="image()" [alt]="text()  ">
  } @else {
    @if (size().toLowerCase() !== 'phonetics') {
      <span [class.small-text]="isSmallText()" [class.big-text]="!isSmallText()">
      {{text()}}
    </span>
    }
  }
</button>

