@use 'colors';
@use 'variables';

.button-wrapper {
  @include variables.default-box-shadow;
  @include variables.flex-center;
  @include variables.square-size;
  border: none;
  padding: 0;
  border-radius: variables.$border-radius;
  font-size: 20px;
  background-color: colors.$white;

  &:focus-visible {
    outline: 2px solid colors.$highlight;
    outline-offset: 2px;
  }


  img {
    width: 147px;
    height: 147px;
    padding: 10px;
  }

  .text {
    font-family: 'Quicksand', sans-serif;
    font-size: 32px;
    font-weight: 600;
    color: colors.$black;
  }
}
