@use 'colors';
@use 'variables';

.button-option {
  position: relative;
  cursor: pointer;

  input, label {
    position: absolute;
    top: 0;
    left: 0;
    /* gap size here */
    bottom: 24px;
    right: 24px;

    background-color: colors.$white;
    border: 8px solid colors.$white;
    border-radius: variables.$border-radius;
    @include variables.default-box-shadow;
    @include variables.flex-center;

  }

  input {
    opacity: 0;
    z-index: 10;
  }

  &:focus,
  &:active {
    outline: none;
  }

  input:checked + label {
    border-radius: variables.$border-radius;
    border-color: colors.$highlight;
    transition: all 0.2s ease;
  }

  // Non-text button selection (images/icons)
  &:not(.text-button).selected {
    background-color: colors.$white; // Keep white background
    border-color: colors.$highlight;
    box-shadow: none;
  }

  // Text button specific styles
  &.text-button {
    &.selected {
      // Highlight the entire background for text buttons
      background-color: colors.$highlight;
      border-color: colors.$highlight;;
      color: colors.$white;

      span {
        color: colors.$white;
      }
    }
  }

  // Content styles
  img {
    @include variables.responsive-image;

    &.accept-icon {
      @include variables.accept-icon-size;
    }

    &.reject-icon {
      @include variables.reject-icon-size;
    }
  }

  span {
    @include variables.text;
    font-size: variables.$big-text-font-size;
  }
}

// Type modifiers
.button-option {
  &.big-type {
    @include variables.big-button-size;
  }

  &.medium-type {
    @include variables.medium-button-size;
  }

  &.small-type {
    @include variables.small-button-size;
  }

  &.word-type {
    @include variables.word-button-size;
    border: none;

    &.selected {
      background-color: colors.$highlight;
      color: white;
      border: none;
      @include variables.default-box-shadow;
    }

    span {
      font-size: variables.$small-text-font-size;
    }
  }

  /* Styles for phonetics circles */
  &.round-type {
    @include variables.rounded-styles;
    @include variables.rounded-box-shadow;

    &.selected {
      background-color: colors.$highlight;
      border-radius: 50%;
      box-shadow: none;
    }

    span {
      display: none;
    }
  }
}
