<div class="count-container" data-cy="interaction-count">
  <div class="count-text">{{ localParameters?.text }}</div>

  <div
    class="image-panel"
    data-cy="image-panel"
    #imagePanel
  >
    <div class="image-half upper"
         cdkDropList
         #imageTensList="cdkDropList"
         #imageUpperHalf
         [cdkDropListData]="imageTensSignal()"
         [cdkDropListConnectedTo]="[tensList]"
         [cdkDropListEnterPredicate]="tensEnterPredicate"
         (cdkDropListDropped)="handleDrop($event)"
         data-cy="image-panel-upper">
      @for (item of imageTensSignal(); track item.id) {
        <div class="icon-item tens"
             [class.no-transition]="!isAnimating(item.id)"
             [class.animating]="isAnimating(item.id)"
             cdkDrag
             [cdkDragStartDelay]="0"
             [cdkDragData]="item"
             [style.transform]="itemTransforms[item.id] || null"
             [style.pointerEvents]="isAnimating(item.id) ? 'none' : null"
             (cdkDragStarted)="onDragStarted(item)"
             (cdkDragReleased)="onDragReleased(item)"
             (cdkDragEnded)="onDragEnded($event, item, 'imageTens')"
             (click)="onItemClick(item, 'imageTens')">
          <stars-standard-icon [icon]="item.icon"></stars-standard-icon>
        </div>
      }
    </div>
    <div class="image-half lower"
         cdkDropList
         #imageOnesList="cdkDropList"
         #imageLowerHalf
         [cdkDropListData]="imageOnesSignal()"
         [cdkDropListConnectedTo]="[onesList]"
         [cdkDropListEnterPredicate]="onesEnterPredicate"
         (cdkDropListDropped)="handleDrop($event)"
         data-cy="image-panel-lower">
      @for (item of imageOnesSignal(); track item.id) {
        <div class="icon-item ones"
             [class.no-transition]="!isAnimating(item.id)"
             [class.animating]="isAnimating(item.id)"
             cdkDrag
             [cdkDragStartDelay]="0"
             [cdkDragData]="item"
             [style.transform]="itemTransforms[item.id] || null"
             [style.pointerEvents]="isAnimating(item.id) ? 'none' : null"
             (cdkDragStarted)="onDragStarted(item)"
             (cdkDragReleased)="onDragReleased(item)"
             (cdkDragEnded)="onDragEnded($event, item, 'imageOnes')"
             (click)="onItemClick(item, 'imageOnes')">
          <stars-standard-icon [icon]="item.icon"></stars-standard-icon>
        </div>
      }
    </div>
  </div>

  <div class="icons-wrapper" data-cy="icons-wrapper">
    <div class="tens-wrapper"
         data-cy="tens-wrapper"
         cdkDropList
         #tensList="cdkDropList"
         #tensWrapper
         [cdkDropListData]="tensSourceSignal()"
         [cdkDropListConnectedTo]="[imageTensList]"
         [cdkDropListEnterPredicate]="tensEnterPredicate"
         (cdkDropListDropped)="handleDrop($event)"
         [class.disabled]="allCapsReached()"
    >
      @for (tens of tensSourceSignal(); track tens.id) {
        <div class="icon-item tens"
             [class.no-transition]="!isAnimating(tens.id)"
             [class.animating]="isAnimating(tens.id)"
             cdkDrag
             [cdkDragStartDelay]="0"
             [cdkDragData]="tens"
             [cdkDragDisabled]="allCapsReached() || isAnimating(tens.id)"
             [style.transform]="itemTransforms[tens.id] || null"
             [style.pointerEvents]="isAnimating(tens.id) ? 'none' : null"
             (cdkDragStarted)="onDragStarted(tens)"
             (cdkDragReleased)="onDragReleased(tens)"
             (cdkDragEnded)="onDragEnded($event, tens, 'tens')"
             (click)="onItemClick(tens, 'tens')"
             #tensEl>
          <stars-standard-icon icon="TENS"></stars-standard-icon>
        </div>
      }
    </div>
    <div
      class="ones-wrapper"
      data-cy="ones-wrapper"
      cdkDropList
      #onesList="cdkDropList"
      #onesWrapper
      [cdkDropListData]="onesSourceSignal()"
      [cdkDropListConnectedTo]="[imageOnesList]"
      [cdkDropListEnterPredicate]="onesEnterPredicate"
      (cdkDropListDropped)="handleDrop($event)"
      [class.disabled]="allCapsReached()"
    >
      @for (ones of onesSourceSignal(); track ones.id) {
        <div class="icon-item ones"
             [class.no-transition]="!isAnimating(ones.id)"
             [class.animating]="isAnimating(ones.id)"
             cdkDrag
             [cdkDragStartDelay]="0"
             [cdkDragData]="ones"
             [cdkDragDisabled]="allCapsReached() || isAnimating(ones.id)"
             [style.transform]="itemTransforms[ones.id] || null"
             [style.pointerEvents]="isAnimating(ones.id) ? 'none' : null"
             (cdkDragStarted)="onDragStarted(ones)"
             (cdkDragReleased)="onDragReleased(ones)"
             (cdkDragEnded)="onDragEnded($event, ones, 'ones')"
             (click)="onItemClick(ones, 'ones')"
             #onesEl
        >
          <stars-standard-icon icon="ONES"></stars-standard-icon>
        </div>
      }
    </div>
  </div>
</div>
