@use 'colors';
@use 'variables';

.count-container {
  @include variables.flex-center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.count-text {
  text-align: center;
  font-size: 54px;
  font-weight: 600;
  color: #1a1a1a;
}

.image-panel {
  @include variables.default-box-shadow;
  width: 900px;
  height: 290px;
  box-sizing: border-box;
  border: 3px solid lightgrey;
  border-radius: variables.$border-radius;
  margin-bottom: variables.$small-gap-margin;

  img {
    @include variables.responsive-image;
  }
}

.icons-wrapper {
  height: 240px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}

.tens-wrapper,
.ones-wrapper {
  display: flex;
  flex-direction: column;
}

.tens-wrapper {
  margin: 0 12px;
}
.ones-wrapper {
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
}

.icon-item {
  display: inline-flex;
}

.icon-item.ones {
  width: 58px;
  height: 60px;
}

/* spacing handled by column wrapper gaps */
