@use 'colors';
@use 'variables';

.count-container {
  @include variables.flex-center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  row-gap: variables.$big-gap-margin;
}

.count-text {
  text-align: center;
  font-size: 54px;
  font-weight: 600;
}

.image-panel {
  @include variables.default-box-shadow;
  width: 665px;
  height: 400px;
  box-sizing: border-box;
  border: 3px solid lightgrey;
  border-radius: variables.$border-radius;
  margin-bottom: variables.$small-gap-margin;
  position: relative;
  z-index: 2;

  img {
    @include variables.responsive-image;
  }

  display: flex;
  flex-direction: column;
}

.image-half {
  flex: 1 1 50%;
  position: relative;
  padding: 8px;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}

/* Upper half should stack TENS items vertically */
.image-half.upper {
  flex-direction: column;
  flex: 2 1 60%; // Take 60% of the space for TENS
}

/* Lower half should stack ONES items horizontally */
.image-half.lower {
  flex-direction: row;
  flex: 1 1 40%;
}

.image-half .icon-item {
  transform-origin: center center;
  position: static;
  margin-right: 8px;
  margin-bottom: 8px;
}

.icons-wrapper {
  height: 240px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}

.tens-wrapper,
.ones-wrapper {
  display: flex;
  flex-direction: column;
  height: 200px;
  min-width: 120px;
  border: 2px solid lightgrey;
  border-radius: variables.$border-radius;
  padding: 8px;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.02);
  flex-shrink: 0; // Do not allow flexbox to shrink these areas
  position: relative; // allow stacking
  z-index: 1;
}

.tens-wrapper {
  min-width: 665px;
  height: 70px;
  margin-right: 12px;
}
.ones-wrapper {
  min-width: 70px;
  height: 70px;
}

.icon-item.tens {
  width: 652px;
  height: 58px;
  transform-origin: center center;
  transition: transform 1s ease-in-out;
}

.icon-item.ones {
  width: 55px;
  height: 55px;
  transform-origin: center center;
  transition: transform 1s ease-in-out;
}

.icon-item.no-transition {
  transition: none !important;
}

/* Ensure animating items appear above all other elements */
.icon-item.animating {
  z-index: 9999 !important;
  position: relative !important;
}

/* Stack all wrapper icons on top of each other so they appear as a single item */
.tens-wrapper .icon-item,
.ones-wrapper .icon-item {
  position: absolute;
  top: 8px;
  left: 8px;
  transform-origin: center center;
}



/* Only the last stacked item should be interactive */
.tens-wrapper .icon-item:not(:last-child),
.ones-wrapper .icon-item:not(:last-child) {
  pointer-events: none;
}

.tens-wrapper.disabled,
.ones-wrapper.disabled {
  opacity: 0.5;
}

.icons-wrapper .cdk-drag-placeholder {
  visibility: hidden !important;
  pointer-events: none;
}

.image-panel .cdk-drag-placeholder {
  visibility: hidden !important;
  pointer-events: none;
}

.icon-item.cdk-drag-dragging {
  transition: none !important;
}

::ng-deep .cdk-drag-preview {
  transition: none !important;
}
