@use 'colors';
@use 'variables';

// White stripes on training mode
.ribbon-bar {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  height: variables.$ribbon-bar-height;
  background: repeating-linear-gradient(
      -45deg,
      colors.$white 0px,
      colors.$white 8px,
      transparent 8px,
      transparent 16px
  );
  z-index: 1;

  &--top {
    top: 0;
  }

  &--bottom {
    bottom: 0;
  }
}

// Light blue stripes for white backgrounds
.white-background .ribbon-bar {
  background: repeating-linear-gradient(
      -45deg,
      colors.$sky 0px,
      colors.$sky 8px,
      transparent 8px,
      transparent 16px
  );
}
