<div #dropContainer
     class="drop-select-container"
     [class]="'image-position-' + localParameters.imagePosition?.toLowerCase()"
     data-cy="drop-container">

  <!-- Image section -->
  <div class="stimulus-wrapper">
    @if (localParameters.imageSource) {
      <img #imageElement [src]="localParameters.imageSource" [alt]="" data-cy="drop-image">
    }
  </div>

  <!-- Buttons section -->
  <div class="buttons-container" role="group">
    @for (option of localParameters.options; track $index) {
      <div
        class="animate-wrapper"
        [style.transform]="buttonTransforms()[$index] || ''"
        [class.no-transition]="shouldDisableTransition($index)"
        cdkDrag
        [cdkDragStartDelay]="0"
        (cdkDragStarted)="onDragStarted($event, $index)"
        (cdkDragEnded)="onDragEnded($event, $index)"
        (cdkDragMoved)="onDragMoved($event, $index)"
        (contextmenu)="$event.preventDefault()"
        [attr.data-cy]="'drop-animate-wrapper-' + $index"
      >
        <stars-standard-button
          [id]="$index.toString()"
          [value]="$index"
          [text]="option.text"
          [inputType]="'radio'"
          [image]="option.imageSource"
          [selected]="this.selectedValue() === $index"
          [type]="'SMALL_SQUARE'"
          [attr.data-cy]="'button-' + $index"
          (buttonClick)="onButtonClick($index)">
        </stars-standard-button>
      </div>
    }
  </div>
</div>
