@use 'colors';
@use 'variables';

.drop-select-container {
  @include variables.flex-center;
  flex-direction: column;
  padding-top: 8%;
  width: 100%;
  height: 100%;

  // Image at the bottom, buttons at the top
  &.image-position-bottom {
    flex-direction: column-reverse;
  }

  // Image at the top, buttons at the bottom
  &.image-position-top {
    flex-direction: column;
  }

  .stimulus-wrapper {
    box-sizing: border-box;
    max-width: variables.$image-wrapper-width;
    max-height: 320px;
    display: flex;
    justify-content: center;
    margin: 0 auto;

    img {
      @include variables.responsive-image;
    }
  }
}

.buttons-container {
  @include variables.flex-center;
  flex-direction: row;
  width: 100%;
  margin: 20px 0;
}

.animate-wrapper {
  margin-right: variables.$small-gap-margin;
  transition: transform 1s ease-in-out;

  &.no-transition {
    transition: none;
  }
}

@media screen and (max-height: 600px) {
  .stimulus-wrapper {
    height: 300px;
  }
}
