@use 'colors';
@use 'variables';

.drop-select-container {
  @include variables.flex-center;
  flex-direction: column;

  .stimulus-wrapper {
    img {
      @include variables.responsive-image;
    }
  }
}

.buttons-container {
  @include variables.flex-center;
  flex-direction: row;
  width: 100%;
  /* align center to stimulus pic with half of gap/box-shadow */
  padding-left: 12px;
}

.animate-wrapper {
  transition: all 1s ease-in-out;

  &.no-transition {
    transition: none;
  }
}

@media screen and (max-height: 600px) {
  .stimulus-wrapper {
    height: 330px;
  }
}
