@use 'colors';
@use 'variables';

.drop-select-container {
  @include variables.flex-center;
  flex-direction: column;
  padding-top: 8%;

  .stimulus-wrapper {
    padding-right: variables.$small-gap-margin;
    img {
      @include variables.responsive-image;
      padding: unset;
    }
  }
}

.buttons-container {
  @include variables.flex-center;
  flex-direction: row;
  width: 100%;
}

.animate-wrapper {
  margin: 0;
  transition: all 1s ease-in-out;

  &.no-transition {
    transition: none;
  }
}

@media screen and (max-height: 600px) {
  .stimulus-wrapper {
    height: 300px;
  }
}
