.polygon-buttons-container {
  width: 100%;
  height: 100%;
  max-width: 1000px;
  max-height: 600px;
}

svg {
  path {
    stroke: darkblue;
    stroke-width: 3px;
    fill: white;

    &.clicked {
      fill: darkblue;
    }
  }
}
