<div class="word-select-wrapper" [class.top-stimulus]="parameters().buttonsAsRow">

  <div class="stimulus-wrapper">
    @if (parameters().imageSource) {
      <img [src]="parameters().imageSource" [alt]="parameters().text || ''">
    }
  </div>

  <div class="interaction-wrapper">
    <div class="buttons-container" [class.row-buttons]="parameters().buttonsAsRow" role="group">
      @for (option of parameters().options; track $index) {
        <stars-standard-button
          [text]="option.text"
          [image]="option.imageSource"
          [selected]="isSelected($index)"
          [type]="'WORD'"
          [isSmallText]="true"
          (buttonClick)="onButtonClick($index)">
        </stars-standard-button>
      }
    </div>
  </div>

</div>
