.audio-button {
  display: inline-block;
  filter: drop-shadow(5px 5px 2px rgba(0, 0, 0, 0.2));
  vertical-align: middle;
  transition: filter 0.2s ease, transform 0.2s ease;
  background-color: transparent;
  border: none;
  cursor: pointer;

  &.clicked {
    filter: drop-shadow(0 0 0 rgba(0, 0, 0, 0.2));
    transform: translate(4px, 4px);
  }

  &.disabled {
    filter: drop-shadow(0 0 0 rgba(0, 0, 0, 0.2)) brightness(0.8);
  }
}
