.audio-button {
  display: inline-block;
  filter: drop-shadow(5px 5px 0 rgba(0, 0, 0, 0.2));
  vertical-align: middle;
  transition: filter 0.2s ease, transform 0.2s ease;
  background-color: transparent;
  border: none;
  cursor: pointer;

  &.clicked {
    filter: drop-shadow(0 0 0 rgba(0, 0, 0, 0.2));
    transform: translate(4px, 4px);
  }

  &.playing {
    .speaker-icon {
      .white-circle {
        fill: #0050E5;
      }
      g path {
        stroke: white;
        stroke-width: 0;
        fill: white;
      }
    }
  }

  &.disabled {
    filter: drop-shadow(0 0 0 rgba(0, 0, 0, 0.2)) brightness(0.8);
  }
}
