.audio-button-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: row;

  .custom-audio-button {
    width: 70px;
    height: 70px;
    margin-top: 20px;
    margin-left: 20px;

    &.moving-button {
      animation: moving 10s infinite;
    }

    @keyframes moving {
      0% {
        transform: scale(1.15);
      }

      10% {
        transform: scale(0.95);
      }

      20% {
        transform: scale(1.15);
      }

      30% {
        transform: scale(1);
      }

      100% {
        transform: scale(1);
      }

    }

    img {
      width: auto;
      height: auto;
    }
  }

  .audio-button-animation {
    height: 100px;
    opacity: 0;
    margin-top: 5px;
    transition: opacity ease-in-out 0.5s;
    transition-delay: 0.5s;

    &.playing {
      opacity: 1;
      transition-delay: 0s;
    }
  }
}
