.audio-button-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: row;

  .custom-audio-button {
    width: 80px;
    height: 80px;
    margin-top: 20px;
    margin-left: 20px;

    ::ng-deep .white-circle {
      filter: drop-shadow(5px 5px 0 rgba(0, 0, 0, 0.2));
    }

    &.moving-button {
      animation: moving 7s infinite;
    }

    @keyframes moving {
      0% {
        transform: scale(1);
      }

      5%, 15% {
        transform: scale(1.15);
      }

      10%, 20%  {
        transform: scale(0.95);
      }

      25% {
        transform: scale(1);
      }

      100% {
        transform: scale(1);
      }

    }

    img {
      width: auto;
      height: auto;
    }
  }

  .audio-button-animation {
    height: 100px;
    opacity: 0;
    margin-top: 5px;
    transition: opacity ease-in-out 0.5s;
    transition-delay: 0.5s;

    &.playing {
      opacity: 1;
      transition-delay: 0s;
    }
  }
}
