@use 'colors';
@use 'variables';

.audio-button-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: row;

  .custom-audio-button {
    width: 80px;
    height: 80px;
    margin-top: 20px;
    margin-left: 20px;

    ::ng-deep .white-circle {
      filter: drop-shadow(5px 5px 0 rgba(0, 0, 0, 0.2));
    }

    &.moving-button {
      animation: moving 7s infinite;
    }

    &.playing {
      animation: moving-play 2s infinite;
      animation-direction: alternate-reverse;

      ::ng-deep .white-circle {
        fill: #0050E5;
      }

      g path {
        stroke: white;
        stroke-width: 0;
        fill: white;
      }
    }
  }
}

.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.audio-instruction-container {
  min-width: 20px;
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 100;
}

.audio-button-wrapper {
  display: block;
  width: auto;
  margin-bottom: 0.75rem;
}

@keyframes moving {
  0% {
    transform: scale(1);
  }

  5%, 15% {
    transform: scale(1.15);
  }

  10%, 20%  {
    transform: scale(0.95);
  }

  25% {
    transform: scale(1);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes moving-play {
  0% {
    transform: scale(1);
  }

  5%, 15%, 35%, 45%, 55%, 65%, 85%, 95% {
    transform: scale(1.03);
  }

  10%, 20%, 30%, 40%, 60%, 70%, 80%  {
    transform: scale(0.97);
  }

  25%, 50%, 75%, 100% {
    transform: scale(1);
  }
}
