<div class="place-value-container" data-cy="interaction-place-value">
  <div class="place-value">{{ localParameters?.value }}</div>

  <div
    class="icons-upper-panel"
    data-cy="icons-upper-panel"
    [style.height]="upperPanelHeight()"
    #iconsUpperPanel
  >
  </div>

  <div class="icons-wrapper" data-cy="icons-wrapper">
    <div class="tens-wrapper"
         data-cy="tens-wrapper"
         [class.disabled]="allCapsReached()"
    >
      @for (tens of tensArray(); track tens.id) {
        <div class="icon-item tens"
             [class.no-transition]="!isAnimating(tens.id)"
             [class.animating]="isAnimating(tens.id)"
             [style.transform]="itemTransforms[tens.id] || null"
             [style.pointerEvents]="isAnimating(tens.id) ? 'none' : null"
             (click)="onItemClick(tens, 'tens')"
             #tensEl>
          @if (isSelected(tens.id)) {
            <svg width="652" height="58" viewBox="0 0 652 58" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g filter="url(#filter0_dd_1047_1082)">
                <rect width="644" height="50" rx="16" fill="#DCDCDC"/>
              </g>
              <circle cx="24.5156" cy="25" r="15" fill="#0050E5"/>
              <circle cx="355" cy="25" r="15" fill="#0050E5"/>
              <circle cx="91" cy="25" r="15" fill="#0050E5"/>
              <circle cx="421" cy="25" r="15" fill="#0050E5"/>
              <circle cx="157" cy="25" r="15" fill="#0050E5"/>
              <circle cx="487" cy="25" r="15" fill="#0050E5"/>
              <circle cx="223" cy="25" r="15" fill="#0050E5"/>
              <circle cx="553" cy="25" r="15" fill="#0050E5"/>
              <circle cx="289" cy="25" r="15" fill="#0050E5"/>
              <circle cx="619" cy="25" r="15" fill="#0050E5"/>
            </svg>
          } @else {
            <svg width="652" height="58" viewBox="0 0 652 58" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g filter="url(#filter0_d_1047_978)">
                <rect width="644" height="50" rx="16" fill="white"/>
                <rect x="0.5" y="0.5" width="643" height="49" rx="15.5" stroke="#DBDDE7"/>
              </g>
              <circle cx="24.5146" cy="25" r="15" fill="#0050E5"/>
              <circle cx="354.999" cy="25" r="15" fill="#0050E5"/>
              <circle cx="90.999" cy="25" r="15" fill="#0050E5"/>
              <circle cx="420.999" cy="25" r="15" fill="#0050E5"/>
              <circle cx="156.999" cy="25" r="15" fill="#0050E5"/>
              <circle cx="486.999" cy="25" r="15" fill="#0050E5"/>
              <circle cx="222.999" cy="25" r="15" fill="#0050E5"/>
              <circle cx="552.999" cy="25" r="15" fill="#0050E5"/>
              <circle cx="288.999" cy="25" r="15" fill="#0050E5"/>
              <circle cx="618.999" cy="25" r="15" fill="#0050E5"/>
            </svg>
          }
        </div>
      }
    </div>
    <div
      class="ones-wrapper"
      data-cy="ones-wrapper"
      [class.disabled]="allCapsReached()"
    >
      @for (ones of onesArray(); track ones.id) {
        <div class="icon-item ones"
             [class.no-transition]="!isAnimating(ones.id)"
             [class.animating]="isAnimating(ones.id)"
             [style.transform]="itemTransforms[ones.id] || null"
             [style.pointerEvents]="isAnimating(ones.id) ? 'none' : null"
             (click)="onItemClick(ones, 'ones')"
             #onesEl
        >
          @if (isSelected(ones.id)) {
            <svg width="58" height="58" viewBox="0 0 58 58" fill="none" xmlns="http://www.w3.org/2000/svg">
               <g filter="url(#filter0_dd_1047_1079)">
                 <rect width="50" height="50" rx="16" fill="#DCDCDC"/>
               </g>
               <circle cx="25" cy="25" r="15" fill="#0050E5"/>
            </svg>
          } @else {
            <svg width="58" height="58" viewBox="0 0 58 58" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g filter="url(#filter0_d_1047_1063)">
                <rect width="50" height="50" rx="16" fill="white"/>
                <rect x="0.5" y="0.5" width="49" height="49" rx="15.5" stroke="#DBDDE7"/>
              </g>
              <circle cx="25" cy="25" r="15" fill="#0050E5"/>
            </svg>
          }
        </div>
      }
    </div>
  </div>
</div>
