<div class="place-value-container" data-cy="interaction-place-value">
  <div class="place-value" data-cy="place-value">
    @if (localParameters.value === 0) {
      &nbsp;
    } @else {
      {{localParameters.value}}
    }
  </div>

  <div
    class="icons-upper-panel"
    data-cy="icons-upper-panel"
    [style.height]="getUpperPanelHeight()+'px'"
    #iconsUpperPanel
  >
  </div>

  <div class="icons-wrapper" data-cy="icons-wrapper">
    <div
      class="ones-wrapper"
      data-cy="ones-wrapper"
      [class.disabled]="onesWrapperDisabled()"
      (click)="onItemClick('ones')"
      #onesWrapper
    >
      @for (ones of onesArray(); track ones.id) {
        <div class="icon-item ones"
             [class.animating]="isAnimating(ones.id)"
             [class.moved]="inUpperPanel(ones.id)"
             [style.transform]="itemTransforms[ones.id] || null"
             (click)="onItemClick('ones', ones, $event)"
             [attr.data-cy]="inUpperPanel(ones.id) ? 'icon-item-ones-moved' : 'icon-item-ones'"
         >
          @if (isSelected(ones.id)) {
            <svg width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
              <rect width="50" height="50" rx="16" fill="#DCDCDC"/>
              <circle cx="25" cy="25" r="15" fill="#0050E5"/>
            </svg>
          } @else {
            <svg width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
              <rect width="50" height="50" rx="16" fill="white"/>
              <rect x="0.5" y="0.5" width="49" height="49" rx="15.5" stroke="#DBDDE7"/>
              <circle cx="25" cy="25" r="15" fill="#0050E5"/>
            </svg>
          }
        </div>
      }
    </div>
    <div class="tens-wrapper"
         data-cy="tens-wrapper"
         [class.disabled]="tensWrapperDisabled()"
         (click)="onItemClick('tens')"
         #tensWrapper
    >
      @for (tens of tensArray(); track tens.id) {
        <div class="icon-item tens"
             [class.animating]="isAnimating(tens.id)"
             [class.moved]="inUpperPanel(tens.id)"
             [style.transform]="itemTransforms[tens.id] || null"
             (click)="onItemClick('tens', tens, $event)"
             [attr.data-cy]="inUpperPanel(tens.id) ? 'icon-item-tens-moved' : 'icon-item-tens'"
        >
          @if (isSelected(tens.id)) {
            <svg width="652" height="50" viewBox="0 0 652 50" fill="none" xmlns="http://www.w3.org/2000/svg">
              <rect width="644" height="50" rx="16" fill="#DCDCDC"/>
              <circle cx="24.5156" cy="25" r="15" fill="#0050E5"/>
              <circle cx="355" cy="25" r="15" fill="#0050E5"/>
              <circle cx="91" cy="25" r="15" fill="#0050E5"/>
              <circle cx="421" cy="25" r="15" fill="#0050E5"/>
              <circle cx="157" cy="25" r="15" fill="#0050E5"/>
              <circle cx="487" cy="25" r="15" fill="#0050E5"/>
              <circle cx="223" cy="25" r="15" fill="#0050E5"/>
              <circle cx="553" cy="25" r="15" fill="#0050E5"/>
              <circle cx="289" cy="25" r="15" fill="#0050E5"/>
              <circle cx="619" cy="25" r="15" fill="#0050E5"/>
            </svg>
          } @else {
            <svg width="652" height="50" viewBox="0 0 652 50" fill="none" xmlns="http://www.w3.org/2000/svg">
              <rect width="644" height="50" rx="16" fill="white"/>
              <rect x="0.5" y="0.5" width="643" height="49" rx="15.5" stroke="#DBDDE7"/>
              <circle cx="24.5146" cy="25" r="15" fill="#0050E5"/>
              <circle cx="354.999" cy="25" r="15" fill="#0050E5"/>
              <circle cx="90.999" cy="25" r="15" fill="#0050E5"/>
              <circle cx="420.999" cy="25" r="15" fill="#0050E5"/>
              <circle cx="156.999" cy="25" r="15" fill="#0050E5"/>
              <circle cx="486.999" cy="25" r="15" fill="#0050E5"/>
              <circle cx="222.999" cy="25" r="15" fill="#0050E5"/>
              <circle cx="552.999" cy="25" r="15" fill="#0050E5"/>
              <circle cx="288.999" cy="25" r="15" fill="#0050E5"/>
              <circle cx="618.999" cy="25" r="15" fill="#0050E5"/>
            </svg>
          }
        </div>
      }
    </div>
  </div>
</div>
