@use 'colors';
@use 'variables';

.place-value-container {
  @include variables.flex-center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  row-gap: variables.$big-gap-margin;
}

.place-value {
  text-align: center;
  font-size: 54px;
  font-weight: 600;
}

.icons-upper-panel {
  @include variables.default-box-shadow;
  width: 665px;
  box-sizing: border-box;
  border: 3px solid lightgrey;
  border-radius: variables.$border-radius;
  margin-bottom: variables.$small-gap-margin;
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
}

.icons-wrapper {
  height: 240px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}

.tens-wrapper,
.ones-wrapper {
  display: flex;
  flex-direction: column;
  height: 200px;
  min-width: 120px;
  border: 2px solid lightgrey;
  border-radius: variables.$border-radius;
  padding: 8px;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.02);
  flex-shrink: 0; // Do not allow flexbox to shrink these areas
  position: relative; // allow stacking
  z-index: 1;
}

.tens-wrapper {
  min-width: 665px;
  height: 70px;
  margin-right: 12px;
}
.ones-wrapper {
  min-width: 70px;
  height: 70px;
}

.icon-item.tens {
  width: 652px;
  height: 58px;
  transform-origin: center center;
  transition: transform 1s ease-in-out;
}

.icon-item.ones {
  width: 55px;
  height: 55px;
  transform-origin: center center;
  transition: transform 1s ease-in-out;
}

.icon-item.no-transition {
  transition: none !important;
}

.icon-item.animating {
  z-index: 9999 !important;
  position: relative !important;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

/* Wrapper items should be positioned normally and all be interactive */
.tens-wrapper .icon-item,
.ones-wrapper .icon-item {
  position: relative;
  transform-origin: center center;
  margin-bottom: 4px;
}

.tens-wrapper.disabled,
.ones-wrapper.disabled {
  opacity: 0.5;
  pointer-events: none;
}

/* Upper panel icon styles */
.upper-panel-icon {
  position: absolute;
  z-index: 10;
  transform-origin: center center;
  transition: transform 1s ease-in-out;
}

.upper-panel-icon.tens-upper {
  width: 652px;
  height: 58px;
  top: 8px;
  left: 8px;
}

.upper-panel-icon.ones-upper {
  width: 58px;
  height: 58px;
  top: 8px;
  left: 8px;
}

