@use 'colors';
@use 'variables';

.opening-image-wrapper {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  z-index: 99;

  img {
    width: auto;
    height: auto;
    object-fit: contain;
  }
}
