@use 'colors';
@use 'variables';

:host {
  display: flex;
  flex: 1;
}

.opening-image-wrapper {
  box-sizing: border-box;
  width: 100%;
  max-width: 100%;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  img {
    object-fit: contain;
    max-width: 100%;
    max-height: 100%;
    padding: 0;
    width: auto;
    height: auto;
  }
}
