@use 'colors';
@use 'variables';

.find-on-image-container {
  @include variables.flex-center;
  flex-direction: column;
  margin: 10px 80px 20px 80px;
  height: 100%;

  .image-wrapper {
    position: relative;
    width: 100%;
    max-width: 100%;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    img {
      object-fit: contain;
      max-width: 100%;
      max-height: 100%;
      padding: 0;
      width: auto;
      height: auto;
    }

    .area-style {
      background: rgba(255, 255, 255, 0.5);
      border: colors.$highlight dashed 2px;
      position: absolute;
      z-index: 5;
      pointer-events: none;
    }

    .click-target {
      position: absolute;
      z-index: 10;
      transform: translate(-50%, -50%);
      background-color: rgba(255, 255, 255, 0.5);
      border-radius: 50%;
      border: colors.$highlight solid 4px;
      padding: 0;
      cursor: pointer;
      pointer-events: none;

      &.disabled {
        display: none;
      }

      &.small-size {
        width: 50px;
        height: 50px;

        @media (max-width: 768px) {
          width: 40px;
          height: 40px;
        }

        @media (max-width: 600px) {
          width: 25px;
          height: 25px;
        }

        @media (max-width: 480px) {
          width: 10px;
          height: 10px;
        }
      }

      &.medium-size {
        width: 70px;
        height: 70px;

        @media (max-width: 768px) {
          width: 60px;
          height: 60px;
        }

        @media (max-width: 600px) {
          width: 50px;
          height: 50px;
        }

        @media (max-width: 480px) {
          width: 40px;
          height: 40px;
        }
      }

      &.large-size {
        width: 100px;
        height: 100px;

        @media (max-width: 768px) {
          width: 80px;
          height: 80px;
        }

        @media (max-width: 600px) {
          width: 60px;
          height: 60px;
        }

        @media (max-width: 480px) {
          width: 40px;
          height: 40px;
        }
      }
    }
  }

  .text-wrapper {
    padding-top: 12px;
    text-align: center;

    span {
      font-size: 36px;
    }
  }
}
