@use 'colors';
@use 'variables';

.find-on-image-container {
  @include variables.flex-center;
  flex-direction: column;
  width: 95%;
  height: 75%;
  padding-top: 18px;

  .image-wrapper {
    @include variables.flex-center;
    position: relative;
    @include variables.viewportRatio(16, 9);

    img {
      @include variables.responsive-image;
      padding: 0;
    }

    .click-target {
      position: absolute;
      z-index: 10;
      transform: translate(-50%, -50%);
      background-color: rgba(255, 255, 255, 0.5);
      border-radius: 50%;
      border: colors.$highlight solid 4px;
      padding: 0;
      cursor: pointer;
      pointer-events: none;

      &.disabled {
        display: none;
      }

      &.small-size {
        width: 50px;
        height: 50px;
      }

      &.medium-size {
        width: 70px;
        height: 70px;
      }

      &.large-size {
        width: 100px;
        height: 100px;
      }
    }
  }

  .text-wrapper {
    height: 10%;
    width: 80%;
    padding-top: 24px;
    text-align: center;

    span {
      font-size: 36px;
    }
  }
}
